.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background-image: url(../images/Delete_default.svg);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/Delete_hover.svg);
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.card__like-button {
  background-image: url(../Images/LikeIcon.svg);
  height: 20px;
  width: 23px;
  background-color: transparent;
  border: none;
  opacity: 40%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
}

.card__like-button_active {
  background-image: url(../images/Status_Liked.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  background-image: url(../images/Status_Liked.svg);
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    max-width: 235px;
  }
}
