.card {
  width: 413px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 420px;
}

.card__like-button {
  background-image: url(../Images/Like\ Icon.svg);
  height: 20px;
  width: 23px;
  background-color: transparent;
  border: none;
  opacity: 40%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 288px;
  }
}
